extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
  .row
    .col-12.col-lg-12
      .row
        .col-12.col-md-6
          .card.card-primary
            .card-block
              h3.card-title Journey Details
              h5 #{journey.departure} - #{journey.destination}
              p.name= journey.name
               small &nbsp;
                +outputRating(journey.rating)
              .address= journey.address
              small.date #{journey.date} at #{journey.time}
          .card.card-primary
            .card-block
              h3.card-title Description
              p.text= journey.descriptionText
              small.email Email: #{journey.email}
                .contact Phone Number: #{journey.contact}
        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h3.card-title Location map
              img.img-fluid.rounded(src=`http://maps.googleapis.com/maps/api/staticmap?center=${journey.coords.lat},${journey.coords.lng}&zoom=17&size=400x350&sensor=false&markers=${journey.coords.lat},${journey.coords.lng}&scale=2`)
      .row
        .col-12
          .card.card-primary.review-card
            .card-block
              a.btn.btn-primary.float-right(href='/journey/feedback/new') Add Feedback
              h3.card-title Feedback Summary
              each feedback in journey.feedbacks
                .row.review
                  .col-12.no-gutters.review-header
                    span.rating
                      +outputRating(feedback.rating)
                    span.reviewAuthor #{feedback.author}
                    small.reviewTimestamp #{feedback.timestamp}
                  .col-12
                    p !{(feedback.feedbackText).replace(/\n/g, '<br/>')}

